<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes</title>
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/about.css" />


</head>

<body>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Diabetes.</a>
        <ul class="nav-bar">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="prediction.html">predict</a></li>
            <li><a href="contact.html">contacts</a></li>
    </header>
<section>
    <div class="clearfix">
        <div class="column menu">
          <ul>
            <li>What is diabetes</li>
            <li>Type 1 diabetes</li>
            <li>Type 2 diabetes</li>
            <li>Pre-diabetes</li>
            <li>Prevention</li>
            <li>Myths & facts</il>
            <li>prediction</li>
            <li>News</li>
            <li>How to deal with</li>
            <li>contact</li>
            <li>Research</li>

          </ul>
        </div> 
    <div>

    </section>
    <section class="typography">
        
            <h1>What is diabetes</h1>
            <p>Diabetes is a serious complex condition which can affect the entire body. Diabetes requires daily self
                care and if complications develop, diabetes can have a significant impact on quality of life and can
                reduce life expectancy. While there is currently no cure for diabetes, you can live an enjoyable life by
                learning about the condition and effectively managing it.<br> <br>
                There are different types of diabetes; all types are complex and serious. The three main types of
                diabetes are type 1, type 2 and gestational diabetes.</p>
        </div>
        <div>
            <h1>How does diabetes affect the body?</h1>
            <p>
                When someone has diabetes, their body can’t maintain healthy levels of glucose in the blood. Glucose is
                a form of sugar which is the main source of energy for our bodies. Unhealthy levels of glucose in the
                blood can lead to long term and short term health complications.<br> <br>

                For our bodies to work properly we need to convert sugars from food into energy. Sugars from food are
                converted into glucose. A hormone called insulin is essential for the conversion of glucose into energy.
                In people with diabetes, insulin is no longer produced or not produced in sufficient amounts by the
                body. When people with diabetes eat foods that contain sugars or starches, such as breads, cereals,
                fruit and starchy vegetables and sweets, it can’t be converted into energy and the level of glucose in
                their blood rises and is harmful to them.<br><br>

                Instead of being turned into energy the glucose stays in the blood resulting in high blood glucose
                levels. After eating, the glucose is carried around your body in your blood. Your blood glucose level is
                called glycaemia.Blood glucose levels can be monitored and managed through self care and
                treatment.<br><br>

                Three things you need to know about diabetes:
            <ul>
                <li>
                    It is not one condition- there are three main types of diabetes: type 1, type 2 and gestational
                    diabetes
                </li>

                <li>
                    All types of diabetes are complex and require daily care and management</li>
                <li>
                    Diabetes does not discriminate, anyone can develop diabetes
                </li>
            </ul>

            </p>
        </div>

        <div>
            <h1>Diabetes is serious</h1>
            <p>
                Diabetes can be managed well but the potential complications are the same for type 1 and type 2 diabetes
                including heart attack, stroke, kidney disease, limb amputation, depression, anxiety and blindness.
                <br>We know diabetes:
            <ul>
                <li>
                    Is the leading cause of blindness in working age adults
                </li>

                <li>
                    Is a leading cause of kidney failure and dialysis</li>
                <li>
                    Increases the risk of heart attacks and stroke by up to four times
                </li>
                <li>Is a major cause of limb amputations</li>
                <li>Affects mental health as well as physical health. Depression, anxiety and distress occur in more
                    than 30% of all people with diabetes
                </li>
            </ul>

            </p>
        </div>
        <div>
            <h1>Why is diabetes increasing?
            </h1>
            <p>
                All types of diabetes are increasing in prevalence:
            <ul>

                <li>Type 1 diabetes accounts for 10% of all diabetes and is increasing</li>
                <li>Type 2 diabetes accounts for 85% of all diabetes and is increasing</li>
                <br>
                Gestational diabetes in pregnancy is increasing
                Type 2 diabetes is increasing at the fastest rate. There are large numbers of people with silent,
                undiagnosed type 2 diabetes which may be damaging their bodies. An estimated 2 million Australians are
                at high risk of developing type 2 diabetes and are already showing early signs of the condition.<br><br>

                Type 2 diabetes is one of the major consequences of the obesity epidemic. The combination of massive
                changes to diet and the food supply, combined with massive changes to physical activity with more
                sedentary work and less activity, means most populations are seeing more type 2 diabetes.<br><br>

                Genes also play a part with higher risk of type 2 diabetes in Chinese, South Asian, Indian, Pacific
                Islander and Aboriginal and Torres Strait Islander populations.
                </p>
        </div>
        <div>
            <h1>Symptoms</h1>
            <p>In type 1 diabetes, symptoms are often sudden and can be life-threatening; therefore it is usually
                diagnosed quite quickly. In type 2 diabetes, many people have no symptoms at all, while other signs
                can go unnoticed being seen as part of ‘getting older’.<br><br>

                Therefore, by the time symptoms are noticed, complications of diabetes may already be present.<br>

                Common symptoms include:
            <ul>
                <li>Being more thirsty than usual</li><br>
                <li>Passing more urine</li><br>
                <li>Feeling tired and lethargic</li><br>
                <li>Always feeling hungry</li><br>
                <li>Having cuts that heal slowly</li><br>
                <li>Itching, skin infections</li><br>
                <li>Blurred vision</li><br>
                <li>Unexplained weight loss (type 1)</li><br>
                <li>Gradually putting on weight (type 2)</li><br>
                <li>Mood swings</li><br>
                <li>Headaches</li><br>
                <li> Feeling dizzy</li><br>
                <li>Leg cramps</li><br>

            </ul>
            </p>
        </div>
    </section>
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> home </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> about </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> predict </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> contact </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> book </a>

            </div>

            <div class="box">
                <h3>our services</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> Living with diabetes </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> Advocacy </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> Health Professionals </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> diagnosis </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> Research </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> owner145@gmail.com </a>
                <a href="#"> <i class="fas fa-envelope"></i> user123@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> mansurah, Egypt - 400104 </a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>
            <div class="footer-bottom">
                <p>
                    © Copyright EstateAgency All Rights Reserved.
                </p>
               
            </div> 

        </div>


    </section>
</body>

</html>

<!-- footer section ends -->