<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes</title>
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/contact.css" />


</head>

<body>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Diabetes.</a>
        <ul class="nav-bar">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="prediction.html">predict</a></li>
            <li><a href="contact.html">contact us</a></li>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <h1>contact us</h1>
            </div>
            <div class="row">
                <h4 style="text-align:center">We'd love to hear from you!</h4>
            </div>
            <div class="row input-container">
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <input type="text" required />
                        <label>Name</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input">
                        <input type="text" required />
                        <label>Email</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input" style="float:right;">
                        <input type="text" required />
                        <label>Phone Number</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <textarea required></textarea>
                        <label>Message</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="btn-lrg submit-btn">Send Message</div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <section class="map">
        <h1 id="mapp">WE'RE HAPPY TO HEAR FROM YOU</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27340.49280938489!2d31.360915589390384!3d31.06630182774282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f79deae75f6ddd%3A0x17c2353b8542ed62!2sTalkha%2C%20Talkha%20City%2C%20Talkha%2C%20Dakahlia%20Governorate!5e0!3m2!1sen!2seg!4v1629558944833!5m2!1sen!2seg"
            width="100%" height="420" frameborder="50" style="border: 10px;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
        </iframe>
    </section>
    <br> <br>


    <div class="maps-container wow fadeInUp">
        <div id="google-maps"></div>
    </div>

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> home </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> services </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> about </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> doctors </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> book </a>

            </div>

            <div class="box">
                <h3>our services</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> Living with diabetes </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> Advocacy </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> Health Professionals </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> diagnosis </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> Research </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> owner145@gmail.com </a>
                <a href="#"> <i class="fas fa-envelope"></i> user123@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> mansurah, Egypt - 400104 </a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>
            <div class="footer-bottom">
                <p>
                    © Copyright EstateAgency All Rights Reserved.
                </p>

            </div>

        </div>


    </section>
</body>

</html>
</section>
<!-- footer section ends -->
    