<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes</title>
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/home.css" />


</head>

<body>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Diabetes.</a>
        <ul class="nav-bar">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="prediction.html">predict</a></li>
            <li><a href="contact.html">contacts</a></li>
    </header>

    <body>
        <section>

            <div class="image">
                <div class="text">
                    <p>LET'S MAKE YOUR LIFE HAPPIER</p>
                    <h3>Healthy Living</h3>
                    <button>let's consulte</button>
                </div>
            </div>
        </section>
        <br>
        <section>
            <div>
                <img id="inge"
                    src="images/icon-plastic-medical-syringe-with-needle-insulin-vial-flat-style-concept-vaccination-injection-diabetes-isolated-vector-illustration_108855-3385.webp"
                    width="30%">

                <div class="about">
                    <h1>How <span style="color: #555555;">Machine</span> Work<br>Idea:</h1>
                    <h2 style="color: #1c4a9f;">Diabetes prediction</h2>
                    <p id="p">Diabetes mellitus is a disease, which can cause many complications.<br>How to exactly
                        predict and diagnose this disease by using machine learning is worthy studying.<br><br>
                        According to the all experiments, we found the accuracy of using PCA is not good, and the
                        results of using the all features and using mRMR have better results.<br><br> The result, which
                        only used fasting glucose, has a better performance especially in Luzhou dataset. It means that
                        the fasting glucose is the most important index for predict, but only using fasting glucose
                        cannot achieve the best result, so if want to predict accurately, we need more
                        indexes.<br><br>The best result for Luzhou dataset is 0.8084, and the best performance for Pima
                        Indians is 0.7721,<br><br> which can indicate machine learning can be used for prediction
                        diabetes, but finding suitable attributes, classifier and data mining method are very important.
                    </p>
                </div>
            </div>
        </section>
        <br><br> <br><br>

       

        <section>
            <section class="team">
                <h1 id="cc">News<br>how to deal</h1>
                <div class="menu">


                    <div data-aos="flip-left" data-aos-duration="800">

                        <img id="pc" src="images/iStock-1160717746.jpg" width="100%">
                    </div>

                    <div data-aos="flip-left" data-aos-duration="1500">
                        <img id="i" src="images/iStock-1208696917.jpg" width="100%">

                    </div>


                    <div data-aos="flip-left" data-aos-duration="2000">
                        <img id="c" src="images/measuring-tape-941416596.jpg" width="100%">
                    </div>
                </div>
            </section>
            <section class="desc">
                <div class="p1">

                    <h1 id="hed"><span>News</span><br>29 April 2022</h1>

                    <p id="hed1">Diabetes Australia welcomes<br> bipartisan commitment to CGM for All.</p>
                    <a href="#" id="df">Click Here To View</a>
                </div>
                <div class="p2">
                    <h1 id="hed"><span>News</span><br>22 januray 2022</h1>

                    <p id="hed1">
                        AIHW data shows diabetes costs the health system<br> almost $2.5B per annum</p>
                    <a href="#" id="df">Click Here To View</a>

                </div>
                <div class="p3">
                    <h1 id="hed"><span>News</span><br>29 june 2022</h1>

                    <p id="hed1">Can you get rid of belly fat?
                    <p><br>
                        <a href="#" id="df">Click Here To View</a>
                </div>
            </section>
            <section>
                <section class="team">
                    <div class="menu">


                        <div data-aos="flip-left" data-aos-duration="800">

                            <img id="pc" src="images/tablets-blisterpack-502977626.jpg" width="100%">
                        </div>

                        <div data-aos="flip-left" data-aos-duration="1500">
                            <img id="i" src="images/button-batteries-535376677.jpg" width="100%">

                        </div>


                        <div data-aos="flip-left" data-aos-duration="2000">
                            <img id="c" src="images/pancreas-479766736.jpg" width="100%">
                        </div>
                    </div>
                </section>
                <section class="desc">
                    <div class="p1">

                        <h1 id="hed"><span>News</span><br>19 Agust 2022</h1>

                        <p id="hed1">Three things you need to know about SGLT2 inhibitors</p>
                        <a href="#" id="df">Click Here To View</a>
                    </div>
                    <div class="p2">
                        <h1 id="hed"><span>News</span><br>22 januray 2022</h1>

                        <p id="hed1">
                            Glucose meters and button batteries</p>
                        <a href="#" id="df">Click Here To View</a>

                    </div>
                    <div class="p3">
                        <h1 id="hed"><span>News</span><br>29 june 2022</h1>

                        <p id="hed1">Transforming proteins – how molecules in the pancreas could be contributing to the
                            development of type-2 diabetes
                        <p>
                            <a href="#" id="df">Click Here To View</a>
                    </div>
                </section>

                <section class="footer">

                    <div class="box-container">

                        <div class="box">
                            <h3>quick links</h3>
                            <a href="#"> <i class="fas fa-chevron-right"></i> home </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> services </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> about </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> doctors </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> book </a>

                        </div>

                        <div class="box">
                            <h3>our services</h3>
                            <a href="#"> <i class="fas fa-chevron-right"></i> Living with diabetes </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> Advocacy </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> Health Professionals </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> diagnosis </a>
                            <a href="#"> <i class="fas fa-chevron-right"></i> Research </a>
                        </div>

                        <div class="box">
                            <h3>contact info</h3>
                            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                            <a href="#"> <i class="fas fa-envelope"></i> owner145@gmail.com </a>
                            <a href="#"> <i class="fas fa-envelope"></i> user123@gmail.com </a>
                            <a href="#"> <i class="fas fa-map-marker-alt"></i> mansurah, Egypt - 400104 </a>
                        </div>

                        <div class="box">
                            <h3>follow us</h3>
                            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
                        </div>
                        <div class="footer-bottom">
                            <p>
                                © Copyright EstateAgency All Rights Reserved.
                            </p>
                           
                        </div> 

                    </div>


                </section>
                <script src="js/jquery-3.6.0.min.js"></script>
                <script src="js/aos.js"></script>
                <script src="js/owl.carousel.min.js"></script>
                <script src="js/home.js"></script>
    </body>

</html>

<!-- footer section ends -->